body {
  background-color: #f7f7f8;
  font-size: 0.9375em;
  line-height: 1.6;
  font-family: "Gilroy", Arial;
  font-weight: 400;
  color: #2c2c2c;
}
.full-screen-preview {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.full-screen-preview__blocks {
  width: 100%;
  height: 100%;
  display: block;
}
.full-screen-preview__block {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.full-screen-preview__block.mobile {
  background: url("../images/iphone.svg");
  width: 336px;
  height: 500px;
  margin: 20px auto;
  padding: 105px 18px 100px 18px;
}
.full-screen-preview__block.tablet {
  background: url("../images/ipad.svg");
  width: 783px;
  height: 1039px;
  margin: 20px auto;
  padding: 105px 44px 95px 44px;
}

.full-screen-preview__block.mobile .full-screen-preview__frame,
.full-screen-preview__block.tablet .full-screen-preview__frame {
  height: 100% !important;
}
.full-screen-preview__frame {
  overflow-x: hidden;
  width: 100%;
}
.preview__header {
  font-size: 12px;
  height: 67px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 100;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  padding: 0 24px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
}
.preview__header .logo {
  display: inline-block;
  height: 25px;
  width: 140px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
}
.preview__actions {
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
}
.preview__actions > * {
  margin-right: 12px;
  font-weight: 500;
  font-size: 15px;
  list-style: none;
  text-align: center;
  font-family: "Gilroy", Arial;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}
.preview__actions > :last-child {
  margin-right: 0;
}
.preview__action {
  padding: 13px 20px 13px;
  color: #000000;
  text-decoration: none;
}
.preview__action--buy,
.preview__action--close {
  display: inline-block;
}
.preview__action--close {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  display: block;
  font-size: 0;
  padding: 12px 0;
}
.preview__action--close b {
  display: block;
  position: absolute;
  height: 1px;
  width: 22px;
  left: 0px;
  top: 12px;
  background: #242525;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.preview__action--close b.b1 {
  top: 22px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.preview__action--close b.b2 {
  top: 22px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.preview__action--close:hover b {
  background: #ff140a;
}

.preview__action--buy {
  padding: 10px 14px;
  color: #ffffff;
  background-color: #ff140a;
  border-radius: 3px;
  font-weight: 500;
  text-transform: none;
  font-size: 15px;
  line-height: 1.2;
}
.preview__action--buy:hover {
  color: #ffffff;
}
.preview__responsive--list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 145px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
}
.preview__responsive--list li.item {
  display: inline-block;
  text-align: center;
  width: 30px;
  margin: 0px 8px;
}

.preview__responsive--list li.item.active svg {
  fill: #ff140a;
}

#tablet-portrait {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .preview__responsive {
    display: none;
  }
}

.overflow {
  overflow: auto;
}

.preview__title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  color: #000000;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview__title:hover {
  color: #ff140a;
}

.preview__responsive {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}

.preview__prices {
  text-transform: none;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  margin-right: 15px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
}

.preview__prices .discount {
  color: #ff140a;
}
.preview__prices .price {
  margin-left: 10px;
}

.preview__prices .price:first-child {
  margin-left: 0;
}

.preview__prices .price sup {
  top: -13px;
  margin-left: 3px;
  font-size: 18px;
  text-transform: lowercase;
}

.preview__prices .price sup span {
  font-size: 80%;
  font-weight: normal;
}

.preview__prices del,
.preview__prices .del {
  color: #575757;
  font-size: 32px;
}

.preview__prices del sup,
.preview__prices .del sup {
  top: -10px;
}

.preview__prices .price sup del {
  font-size: 18px;
}

.preview__prices del.price sup,
.preview__prices .del.price sup {
  top: -9px;
}

@media (max-width: 991px) {
  .preview__title {
    display: none;
  }
}

@media (max-width: 767px) {
  .preview__responsive--list {
    display: none;
  }
  .preview__prices .price:not(:first-child) {
    margin-left: 10px;
  }
  .preview__prices .price {
    font-size: 26px;
  }
  .preview__prices .price sup {
    top: -8px;
    margin-left: 3px;
    font-size: 14px;
  }
  .preview__prices del,
  .preview__prices .del {
    font-size: 22px;
  }
  .preview__prices del.price sup,
  .preview__prices .del.price sup {
    top: -5px;
  }

  .preview__prices del.price sup del,
  .preview__prices .del.price sup del {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .preview__prices .price {
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    display: inline-block;
  }
  .preview__prices .price sup {
    top: -8px;
    font-size: 12px;
  }

  .preview__prices .price sup span {
    font-size: 100%;
  }

  .preview__header .logo {
    width: 100px;
  }

  .preview__header {
    padding: 0px 12px;
  }
}

@media (max-width: 479px) {
  .preview__prices {
    margin-right: 10px;
  }

  .preview__prices .price {
    font-size: 24px;
  }

  .preview__prices .price sup {
    top: -6px;
    font-size: 16px;
  }

  .preview__prices del,
  .preview__prices .del {
    display: none;
  }

  .preview__header .logo {
    width: 80px;
    height: auto;
  }

  .preview__header .logo img {
    margin-top: 7px;
  }
}
